<section id="about" class="py-20 px-6 bg-gray-100">
  <!-- Responsive section header -->
  <div class="relative flex flex-col items-center py-5 max-w-6xl mx-auto">
    <!-- Header line and text for all screen sizes -->
    <div class="w-full flex items-center justify-center">
      <div class="flex-grow border-t border-gray-400"></div>
      <span class="flex-shrink mx-4 text-blue-600 text-2xl md:text-3xl font-bold">About Me</span>
      <div class="flex-grow border-t border-gray-400"></div>
    </div>
  </div>

  <!-- Responsive content area -->
  <div class="flex flex-col md:flex-row justify-between text-center md:text-left max-w-6xl mx-auto">
    <p id="section-hero" class="text-lg mb-6 md:mb-0 md:w-1/2 text-gray-800 leading-relaxed">
      Hello! I am a passionate web developer with over two years of experience specializing in React.js and Vue.js. <br/><br/> 
      I have a solid understanding of unstyled libraries, including SCSS, Tailwind CSS, Ant Design, and Material UI. My expertise extends to state management solutions such as Redux, Context API, Zustand for React, and Vuex and Prisma for Vue. <br/><br/> 
      I have hands-on experience working with RESTful APIs and GraphQL, as well as proficiency in SQL Server and MySQL databases. Additionally, I am well-versed in version control using Git and GitLab, and I thrive in collaborative environments, having worked effectively within Scrum-Agile teams. Driven by my passion for technology, I continuously seek opportunities to expand my knowledge and skills to meet project requirements. Feel free to check out my 
      <a href="https://github.com/thomasMinh1995" class="text-blue-500 hover:underline">GitHub profile</a>.
    </p>
    <img src="/aboutMe.jpg" class="h-auto w-full md:w-1/2 rounded-lg shadow-lg object-cover border border-blue-300" alt="Myself" />
  </div>

  <!-- SVG Arrow -->
  <a href="#experiences" class="block text-center mt-8 transition-transform transform hover:scale-110">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto">
      <g clip-path="url(#clip0_506_5)">
        <path d="M16 20.5L7 11.5" stroke="#1F1F1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M25 11.5L16 20.5" stroke="#1F1F1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M16 32L7 23" stroke="#1F1F1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M25 23L16 32" stroke="#1F1F1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </g>
      <defs>
        <clipPath id="clip0_506_5">
          <rect width="32" height="32" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>
</section>
