<section
  class="bg-[url('../public/background_image.jpg')] bg-cover bg-center text-black text-center py-20 flex flex-col items-center justify-center min-h-screen gap-4"
>
  <div>
    <h1 class="text-5xl md:text-6xl font-bold text-shadow-lg typewriter">Hello world</h1>
  </div>
  <div>
    <p class="text-lg md:text-xl max-w-md mx-auto">
      I'm a web developer specializing in frontend technologies (and more).
    </p>
  </div>
  <a href="#about" class="mt-6 transition-transform transform hover:scale-110">
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_506_5)">
        <path
          d="M16 20.5L7 11.5"
          stroke="#1F1F1F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M25 11.5L16 20.5"
          stroke="#1F1F1F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M16 32L7 23"
          stroke="#1F1F1F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M25 23L16 32"
          stroke="#1F1F1F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_506_5">
          <rect width="32" height="32" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </a>
</section>
