<nav class="bg-white shadow-md fixed w-full top-0 left-0 z-50">
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <!-- Logo or Brand Name -->
    <div class="text-black text-lg font-semibold">
      <a href="#" class="hover:text-gray-600">MyBrand</a>
    </div>

    <!-- Mobile Menu Button -->
    <button
      (click)="toggleMenu()"
      id="mobile-menu-button"
      class="lg:hidden text-black focus:outline-none"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        ></path>
      </svg>
    </button>

    <!-- Navigation Links -->
    <div id="desktop-menu" class="hidden lg:flex space-x-6">
      <a href="#home" class="text-black hover:text-gray-600">Home</a>
      <a href="#about" class="text-black hover:text-gray-600">About</a>
      <a href="#experiences" class="text-black hover:text-gray-600"
        >Experiences</a
      >
      <a href="#contact" class="text-black hover:text-gray-600">Contact</a>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
    [ngClass]="{ hidden: !isMenuOpen }"
    class="lg:hidden fixed inset-0 bg-white shadow-lg z-40 flex flex-col"
  >
    <div class="flex justify-end p-4">
      <button
        (click)="closeMenu()"
        id="close-menu-button"
        class="text-black focus:outline-none"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
    <div
      class="flex flex-col items-center flex-grow justify-center space-y-6 py-8"
    >
      <a
        routerLink="#home"
        class="text-black text-lg font-semibold hover:text-gray-600 transition duration-300 ease-in-out"
        >Home</a
      >
      <a
        routerLink="#about"
        class="text-black text-lg font-semibold hover:text-gray-600 transition duration-300 ease-in-out"
        >About</a
      >
      <a
        routerLink="#services"
        class="text-black text-lg font-semibold hover:text-gray-600 transition duration-300 ease-in-out"
        >Services</a
      >
      <a
        routerLink="#contact"
        class="text-black text-lg font-semibold hover:text-gray-600 transition duration-300 ease-in-out"
        >Contact</a
      >
    </div>
  </div>
</nav>
